.typing__text{
    /* font-size: 5em; */
    letter-spacing: 6px;
    border-right: 2px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 5s,
    blinkTextCursor .4s step-end infinite alternate;
}

.me{
    background: linear-gradient(var(--color-light-blue), transparent); 
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}




@keyframes typewriter{
    from{
        width: 0;
        color: $colorTransparent;
    }
   
}
@keyframes blinkTextCursor{
   50% {border-color: transparent};
}






  /*============= Media Query Small Devices =============*/
  /* @media screen and (max-width: 600px){
    .typing__text{
        animation: typewriter 5s steps(10) 1s 1 normal both,
        blinkTextCursor 500ms steps(10) infinite normal;
    }
} */
